<html lang='pt-br'>
    <head>
        <meta charset="utf-8" />
        <title>Front</title>
    </head>
    <body>
        <h1> Roupas </h1>
        <% for(i=0;i<dados.length;i++) {%>
            <p><%=dados[i].modafeminina.produto %></p>
        <% } %>
    </body>
</html>